include _functions/_page_link.pug
include _mixins/_code_snip.pug

block vars

-
    if (page && pages.indexOf(page) < pages.length-1)
        var next_page = pages[pages.indexOf(page)+1]

doctype html
html(lang='en')

head

    title LearnJS

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no')

    link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.min.css", rel="stylesheet")
    style.
        body{margin:2em;}
        .main{background: #eef;padding:1em;}
        pre.prettyprint {border:0;background:#fff;}
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.umd.js")

body
    .container
        h1(style="display:inline-block;")
            if page
                a(href='./') LearnJS
            else
                | LearnJS
        if page
            span= ' / ' + humanize(page)
        if next_page
            a.btn.btn-outline-primary.pull-xs-right(href=pageLink(next_page))= "Next Up: " + humanize (next_page)
    .container
        .main
            block body
        if next_page
            .clearfix.m-t-2
                a.btn.btn-outline-primary.pull-xs-right(href=pageLink(next_page))= "Next Up: " + humanize (next_page)

    script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")
