extends _layout.pug

block vars
    -page='variables'

block body
    h3 variables
    p You can store information in variables. Variables act like buckets, that store information, so you can access them later.
    p For example, here, we store the word "hi" in the variable <em>greeting</em>:
    +code_snip(true).
        var greeting = 'hi';
    p Click this button, to see what is in the variable <em>greeting</em>
    +code_run("console.log(greeting)", "console.log(greeting)")
